%h1.text-center 
  Lista de productos
.pull-right
  = form_tag({:controller => "products", :action => "index"}, :method => :get) do 
    =text_field_tag "searchbox", params[:searchbox],placeholder:"Buscar Por Categoria"
    =submit_tag "Buscar", :name => nil
%table.table.table-striped.table-hover.col-md-10.no-float
  %thead
    %tr
      %th Nombre
      %th Precio
      %th Descripcion
      %th Stock
      %th Categoria
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.pricing
        %td= product.description
        %td= product.stock
        %td= product.categoria
        %td= link_to 'Mostrar', product
        -if current_user.try(:admin? )
          
          %td= link_to 'Editar', edit_product_path(product)
          %td= link_to 'Eliminar', product, :method => :delete, :data => { :confirm => 'Estas Seguro?' }

%br
-if current_user.try(:admin? )
  = link_to new_product_path, class:"btn btn-success" do
    Nuevo Producto

