%article.big-padding
  %h1.text-center 
    Lista de productos
  %section.inline-block.col-md-12.row
    %section.pull-right
      = form_tag({:controller => "products", :action => "index"}, :method => :get) do 
        =text_field_tag "searchbox", params[:searchbox],placeholder:"Buscar por categoria"
        =submit_tag "Buscar", :name => nil
        -if current_user.try(:admin? )
          = link_to new_product_path, class:"btn btn-success" do
            Nuevo Producto

    %section.pull-left.nav.col-md-3
      %ul.nav
        %li.active
          %a{:href => "/products",class:"btn btn-primary"} Todos Los productos
        %li.dropdown
          %a.dropdown-toggle{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#",class:"btn btn-info"} 
            Categorias
            %b.caret
          %ul.dropdown-menu{"role" => "menu", class:"btn btn-default"}
            %li
              %a{:href => "/products?utf8=✓&searchbox=Baterias"} 
                Baterias
              %a{:href => "/products?utf8=✓&searchbox=Gatas"} 
                Gatas
              %a{:href => "/products?utf8=✓&searchbox=Anticorrosivos"} 
                anticorrosivos
              %a{:href => "/products?utf8=✓&searchbox=Medidores"} 
                medidores
              %a{:href => "/products?utf8=✓&searchbox=Extintores"} 
                extintores
              %a{:href => "/products?utf8=✓&searchbox=Mangueras"} 
                Mangueras

    %table.table.table-striped.table-hover.col-md-8.no-float
      %thead
        %tr
          %th Nombre
          %th Precio
          %th Descripcion
          %th Stock
          %th Categoria
          %th
          %th
          %th

      %tbody
        - @products.each do |product|
          %tr
            %td= product.name
            %td= product.pricing
            %td= product.description
            %td= product.stock
            %td= product.categoria
            %td= link_to 'Mostrar', product
            -if current_user.try(:admin? )
              
              %td= link_to 'Editar', edit_product_path(product)
              %td= link_to 'Eliminar', product, :method => :delete, :data => { :confirm => 'Estas Seguro?' }

